.wrapper {
  padding: 1em;
	max-width: 1140px;
	margin: auto;
	width: 100%;
	box-sizing: border-box;
}

.movie-detail-container {
  display: flex;
  margin: 35px 0;
  justify-content: center;
  align-items: center;
}

.movie-detail-container img {
  border-radius: 4px;
  transition: .3s;
}

.movie-detail-container img:hover {
  transform: scale(1.1);
}

.movie-detail {
  margin: 0 30px;
  color: #ffffff;
}

.movie-detail h1 {
  font-size: 38px;
  font-weight: 100;
}

.movie-detail p {
  font-weight: 100;
}