.detail-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
}

.detail-container .img > img {
    width: 350px;
    margin-right: 30px;
}

.text {
    color: #ffffff;
}

.text h1 {
    font-size: 3em;
}