.wrapper {
	padding: 1em;
	max-width: 1140px;
	margin: auto;
	width: 100%;
	box-sizing: border-box;
}

header {
	background: #ff0571;
  padding: .5em;
}

.movie-navbar {
	display: flex;
  align-items: center;
  justify-content: space-between;
}

.movie-navbar a {
	color: #ffffff;
  text-decoration: none;
  font-size: 28px;
  font-weight: 500;
}

.movie-navbar .logo img {
  width: 120px;
  height: 45px;
}

.links ul {
	display: flex;
	margin: 0;
	list-style: none;
	padding: 0;
}

.links a {
	color: hsl(233, 17%, 87%);
  padding: 0 1em;
  text-decoration: none;
  font-size: 20px;
}