<div class="sidebar">
    <article *ngFor="let movie of movies; let idx = index" routerLinkActive="active"
        [routerLink]="['/detail/', movie.id]" class="container" #switch>

        <div>
            <p>
                {{ movie.title }}
            </p>
            <p>
                <small>
                    {{ movie.release }}
                </small>
            </p>
        </div>

        <div class="trash" [ngClass]="switch.classList.contains('active')  ? 'show' : 'none'">
            <i (click)="deleteMovie(movie, idx)" class="fas fa-trash"></i>
        </div>
    </article>
</div>