.sidebar {
  margin: 0;
  padding: 30px;
  width: 150px;
  background-color: #fff;
  height: 100%;
  height: auto;
  overflow: auto;
}

.sidebar .movies-container-card__text {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar .movies-container-card__text.active {
  background-color: #4caf50;
  color: white;
}

.sidebar .movies-container-card__text:hover:not(.active) {
  background-color: #555;
  color: white;
}

.show {
  display: block !important;
}

.none {
  display: none !important;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  transition: .3s;
  outline: none;
  border: none;
}

.trash {
  color: #ff0571;
}

.active {
  border-bottom: 5px solid #ff0571;
}